.login{
margin-top:10%;
margin-left:30%;
margin-right:30%;
background-color:ffffff;
border: 2px solid azure;
padding: 10px 10px 10px 10px;
border-radius:4px;
}
button{
background-color:antiquewhite;
border:none;
font-size:20px;
font-color:white;
width:150px;
border-radius:4px;
}
.form{
font-size:16px;     
margin-top:10%;
opacity:0.8;
margin-left:5%;
margin-right:5%;
margin-bottom:10%;
text-align:center;
background-color:white;
padding: 10px 10px 10px 10px;
border-radius:10px;
}
.form input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 0.5px solid antiquewhite;
    outline: none;
    color:black;
    background:transparent;
}
.form input[placeholder]{
    font-size:16px;
}


p{
    color: yellow;
}

.topnav {
    top:0;
    left: 0;
    right: 0;
    background-color: #333;
    overflow: hidden;
    opacity: 0.8;
}
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: antiquewhite;
    color: black;
}
.topnav .icon {
    display: none;
}
.bd{
    text-align:center;
    
}
.welcome{
    font-size: large;
    text-align: center;
    font-family: sans-serif;
    margin-top: 15%;
}

body{
    margin:0;
    padding:0;
    background-image:url(background.jpg);
    background-size: cover;
}
.footer {
    position: fixed;
    opacity: 0.2;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color: black;
    color: white;
    text-align: center;
    font-style: italic;
}
li{
float:right;
border-right:3px solid 87ceeb;

}
li a{
display:block;
text-align:center;
display:inline;
padding:18px 32px;
background-color:87cef2;

}
ul {
position:fixed;
top:0;
width:100%;
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;

text-align:left;

}
a{
 text-decoration:none;   
}
textarea, .form input[type="datetime-local"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}
.modal {
    display: none;  /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}
.modal-content {
    border-radius: 10px; 
    background-color: white;
    opacity: 0.8;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    height: 60%;
    width: 80%; 
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: rgb(138, 19, 19);
    text-decoration: none;
    cursor: pointer;
}
.modalText{
    color: black;
    font-family: sans-serif;
    font-size: 19px;
}
.tableform{
font-family: sans-serif;
font-size:16px;     
margin-top:10%;
margin-bottom:10%;
opacity:0.8;
margin-left:25%;
margin-right:25%;
background-color:white;
padding: 10px 10px 10px 10px;
border-radius:10px;

align-content: stretch;
}
table{
    border-spacing:15px;
    
}
.view:hover,
.view:focus {
    color: rgb(138, 19, 19);
    text-decoration: none;
    cursor: pointer;
}
.modal-modify{
    display: none;
}
#regstatus, #id{
    color:red;
}
#success{
    color:rgb(5, 221, 77);
}
h3, h5{
    display: inline;
}
.totals{
    font-size:16px;     
    margin-top:5%;
    opacity:0.8;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:-8%;
    text-align:center;
    background-color:white;
    padding: 10px 10px 10px 10px;
    border-radius:10px;
}