<html>
    <head>
        <title>Account
        </title>
        <link rel="stylesheet" type="text/css" href="../static/sty.css">
    </head>
    <body>
        <div class="topnav">
            <img class="view" id = "logo" src="../static/myDiary.png" alt="logo" />        
            <a href="login.html" id ="logout">LOGOUT</a>
            <a href="entries.html">ENTRIES</a>
            <a href="new.html">NEW ENTRY</a>
        </div>
        <div class="tableform" id="tableform">
        </div>
        <div class="footer">
            <p>© kk koech</p>
        </div>
    <script src="../static/account.js"></script>     
    </body>
</html>