<!DOCTYPE html>

<html>
    <head>
              <meta charset="utf-8"/>
        <title>
        </title>
        <link rel="stylesheet" type="text/css" href="../static/sty.css">
        
    </head>
    <body>
        <div class="topnav">
            <img id = "logo" class="view" src="../static/myDiary.png" alt="logo" />
            <a href="login.html" id ="logout">LOGOUT</a>
            <a href="account.html"id = "account">ACCOUNT</a>
            <a href="new.html">NEW ENTRY</a>
        </div>
        <div class="totals">
        
            <table style="width:100%">
                <tr>
                    <th id = "total"></th>
                    
                </tr>
            </table>
        </div>
        <div class="tableform" id="tableform">
            
        </div>
        <div id="myModal" class="modal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h5 class="modalText" id = "title"></h5><p class="modalText" id ="singleTitle"></p>
                  <h5 class="modalText" id = "entry"></h5><p class="modalText" id ="single"></p>
                  <div id="editor"></div>
                </div>
        </div>
        <div class="footer">
            <p>© kk koech</p>
        </div>
        <script src="../static/entries.js"></script>
    </body>
</html>