
<html>

<head>
<title>Home Login
</title>

<link rel="stylesheet" type="text/css" href="../static/sty.css">
  <meta charset="utf-8"/>     
</head>
<body>
    <div class="topnav">
    <img class="view" id = "logo" src="/static/myDiary.png" alt="logo" />        
  <a href="register.html">REGISTER</a>
        <a href="login.html">LOGIN</a></div>
    <div class="form">
<form name="login" method="POST"  id="regform">
    
<h2>Login</h2>
<p id="regstatus"></p>
<input type="text" name="username" placeholder="username"><br><br>
<input type="password" name ="password" placeholder="password"><br><br>
<button class="view" id="submit">Login</button><br><br>
<a href="register.html">Not registered?</a>
    <br>
        
</form>
    </div>
    <div class="footer">
  <p>© kk koech</p>
</div>
<script src="../static/login.js"></script>
</body>
</html>