
<!DOCTYPE html>
<html>
<head>
<title>New Entry
</title>

<link rel="stylesheet" type="text/css" href="../static/sty.css">
</head>
 <meta charset="utf-8"/>
<body onload="onload()">
 <div class="topnav">
   <img class="view" id = "logo" src="../static/myDiary.png" alt="logo" />        
  <a href="login.html" id ="logout">LOGOUT</a>
    
  <a href="account.html"id = "account">ACCOUNT</a>
     <a href="entries.html">ENTRIES</a>
     </div>
    
<div class="form">
    <P><h1>Make an Entry</h1></P>
    <p id="regstatus"></p>
    <p id="success"></p>
<form name="create", method="POST" id="regform">
<!--<input type="datetime-local" name="entry date" placeholder="DATE"><br><br>-->
<div id = "entryForm">
<textarea maxlength="20" rows ="1" cols = "33" name ="title" placeholder="Title" value="&quot;My quote!&quot;"></textarea><br>
<textarea rows ="10" cols = "33" name ="entry" placeholder="Type an entry" value="&quot;My quote!&quot;" ></textarea><br><br>
<button name="save" id="submit" class="view">Save </button><br>
</div> 
    </form>

</div>


<div class="footer">
  <p>© kk koech</p>
</div>
<script src="../static/new.js"></script>
    </body>
</html>